:root {
  --font-main: "Boldonse", system-ui;
  --font-family1: "Lekton", monospace;
  --font-family2: "Krona One", sans-serif;
  --color-main: rgba(200, 104, 0);
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}
.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main1);
  color: var(--color-main);
  text-transform: uppercase;
  background-color: black;
}

body {
  section {
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    margin-left: 5vw;
    margin-right: 5vw;
    div {
      width: 35vw;
      height: 200vh;
      h1 {
        font-family: var(--font-family2);
        font-size: 4em;
        opacity: 70%;
        padding-bottom: 2vh;
        text-align: center;
        height: 15vh;
      }
      h2 {
        height: 15vh;
        font-family: var(--font-family1);
        font-size: 4em;
        line-height: 8vh;
        padding-top: 1vh;
      }
      p {
        text-align: justify;
        font-family: var(--font-family1);
        padding-top: 1vh;
        overflow: hidden;
        height: 85vh;
        margin-bottom: 5vh;
      }
      h4 {
        font-family: var(--font-family1);
      }
      img {
        width: 100%;
        height: 85vh;
        object-fit: cover;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--color-main);
        filter: brightness(70%);
      }
    }
  }
  .like {
    display: flex;
    margin-left: 80%;
    .likeForm {
      .likeButton {
        border: none;
        font-size: 2em;
        color: var(--color-main);
      }
      .likeButton:hover {
        color: red;
      }
    }
    .likeCount {
      font-size: 2em;
      font-family: var(--font-family2);
    }
  }

  footer {
    text-align: center;
    font-family: var(--font-family2);
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: black;
  }
}
