:root {
  --font-main: "Boldonse", system-ui;
  --font-family1: "Lekton", monospace;
  --font-family2: "Krona One", sans-serif;
  --color-main: rgba(200, 104, 0);
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lekton-regular {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: normal;
}

.lekton-bold {
  font-family: "Lekton", monospace;
  font-weight: 700;
  font-style: normal;
}

.lekton-regular-italic {
  font-family: "Lekton", monospace;
  font-weight: 400;
  font-style: italic;
}
.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-main1);
  color: var(--color-main);
  text-transform: uppercase;
}

body {
  header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
      url("https://images.unsplash.com/photo-1519440862171-af26cf8c2a85?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    text-align: center;
    width: 100%;
    h1 {
      color: rgba(255, 132, 0, 0.5);
      font-size: 18em;
      font-family: var(--font-family1);
      line-height: 35vh;
    }
    p {
      color: var(--color-main);
      padding-top: 50vh;
      font-family: var(--font-family2);
    }
  }

  form {
    background-color: black;
    text-align: center;
    font-family: var(--font-family2);
    input {
      border-radius: 5px;
      border-style: solid;
      border-width: 1px;
      border-color: var(--color-main);
      background-color: black;
    }
    button {
      background-color: black;
      border: none;
      font-size: 1.2em;
    }
  }

  .carList {
    padding-top: 5vh;
    padding-right: 10vw;
    padding-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    .carItem {
      img {
        width: 18vw;
        height: 50vh;
        object-fit: cover;
        border-radius: 10px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--color-main);
      }
      .carTitle {
        font-family: var(--font-family1);
        text-align: center;
      }
    }
  }

  .articlesMain {
    background-color: black;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    h1 {
      text-align: center;
      font-family: var(--font-family2);
      background-color: black;
      padding-top: 5vh;
    }
    div {
      width: 18vw;
      height: 60vh;
      padding-bottom: 10vh;
      img {
      width: 20vw;
      height: 60vh;
      filter: brightness(70%);
      object-fit: cover;
      border-radius: 10px;
      border-style: solid;
      border-width: 1px;
      border-color: var(--color-main);
      }
      h2 {
        font-size: 0.7em;
        font-family: var(--font-family2);
      }
      p {
        text-transform:capitalize;
        font-family: var(--font-family1);
        font-size: 0.8em;
      }
    }
  }

  footer {
    text-align: center;
    font-family: var(--font-family2);
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: black;
  }
}
